name: DCO Check

on:
  pull_request:

permissions:
  contents: read

jobs:
  dco:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: developer-certificate-of-origin/dco@v1
