name: Static Analysis (govulncheck)

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run govulncheck
        run: govulncheck ./...
