name: Production

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write
  issues: read

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: "1.23"

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Set up GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}
          HOMEBREW_TOKEN: ${{ secrets.HOMEBREW_TOKEN }}