name: OpenSSF Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches: [main]

jobs:
  analysis:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run OpenSSF Scorecard
        uses: ossf/scorecard-action@v2.3.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
